HOST=0.0.0.0
PORT=1337
APP_KEYS=replace_me_1,replace_me_2
API_TOKEN_SALT=replace_me
ADMIN_JWT_SECRET=replace_me
TRANSFER_TOKEN_SALT=replace_me
JWT_SECRET=replace_me
DATABASE_CLIENT=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=haswell_security
DATABASE_USERNAME=haswell
DATABASE_PASSWORD=change_me
DATABASE_SSL=false
